*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{background-color: rgba(233, 196, 231, 0.947);}

p{
    font-size: 20px;
    color:azure
}

h1,h2,h3{
    color: rgba(241, 119, 229, 0.93);
    text-decoration: underline;
}

#navbar{
    background-color: rgb(244, 149, 222);
    height: 80px;
    display: flex;
    justify-content: space-evenly;
}

.pink-text{
    color: rgb(242, 85, 135);
}

a:hover{
    color: white;
}
/* anchor elements - when hover link highlight in white */

#navbar a{
    font-size: 20px;
}

#fav h3{
    color: rgb(78, 11, 129);
}

img{
    width: 200px;
}

.first{
    color: goldenrod;
    font-weight: 500;
}

.second{
    color: silver;
    font-weight: 500;
}

.third{
    color: brown;
    font-weight: 500;
}

